.archive {
  position: relative;
  width: 100vw;
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
}

.archive .container {
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

.archive-hero {
  position: relative;
  width: 100%;
  padding-top: 8em;
  background-color: var(--background);
  z-index: 2;
}

.archive-hero-img-wrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.archive-hero-img-wrapper-row {
  display: flex;
  justify-content: space-between;
}

.archive-hero-img-wrapper-row p {
  font-size: 2rem;
}

.archive-hero-img {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 3 / 4;
  margin: 0 auto;
  border-radius: 0.75rem;
  /* "acuto" ma visibile */
  overflow: hidden;
}

.archive-hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.sticky-archive {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1em;
  background-color: var(--background);
  z-index: 1;
}

.archive-col {
  position: relative;
  flex: 1;
  width: 50%;
}

.source {
  height: 100vh;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.source .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.source-img {
  width: 100%;
  flex: 1;
  min-height: 0;
  margin-bottom: 1rem;
}

.source-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.source-content p {
  margin-bottom: 0.5rem;
}

.source-content {
  margin-top: 2rem;
}

.archive img {
  border-radius: 0.5rem;
}

.source-content h4 {
  text-transform: none;
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: -0.05rem;
}

.gallery {
  height: 175vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--background);
}

.gallery .container {
  padding-left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gallery-copy {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gallery-copy p.primary {
  text-transform: none;
}

.gallery-copy p.secondary {
  margin: 2rem 0 0.5rem 0;
  text-transform: uppercase;
  font-family: "NeueBit";
  font-size: 1.5rem;
  font-weight: bolder;
}

.gallery-copy h4 {
  text-transform: none;
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: -0.05rem;
}

.gallery-images-container {
  padding-top: 4rem;
  width: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4rem;
}

.main-img {
  flex: 1;
  min-height: 0;
}

.sub-images {
  display: flex;
  gap: 2em;
}

.sub-images-col {
  height: 300px;
}

.pin-spacer {
  flex-basis: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
}

.next-archive {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  gap: 1em;
  background-color: var(--background);
  z-index: 2;
}



.marquee-archive {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.25;
}

.next-archive .container {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  gap: 1em;
}



@media (max-width: 900px) {
  .sticky-archive {
    flex-direction: column;
  }

  .archive-col {
    width: 100%;
  }

  .gallery .container {
    padding-left: 2em;
  }

  .archive-hero-img,
  .source-img {
    clip-path: polygon(0 0,
        92% 0,
        100% 12%,
        100% 100%,
        70% 100%,
        6% 100%,
        0 92%,
        0% 20%);
  }

  .gallery-images-container {
    gap: 2em;
  }

  .next-archive-img {
    width: 90%;
  }

  .next-archive h2 {
    width: 80%;
  }
}